name: Windows Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    permissions:
        contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Enable Windows Support
        run: flutter config --enable-windows-desktop
          
      - name: Ensure Windows Files Exist
        # Since 'windows' folder might be missing in repo, generate it.
        run: flutter create --platforms=windows .

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Windows
        run: flutter build windows --release

      - name: Create Installer
        uses: Minionguyjosh/inno-setup-action@v1.2.2
        with:
          path: installers/inno_script.iss
          
      - name: Update Nightly Release
        uses: softprops/action-gh-release@v1
        if: github.event_name == 'push'
        with:
            name: "Nightly Build"
            tag_name: nightly
            files: installers/InvoBharat_Setup.exe
            prerelease: true
            body: "Auto-generated nightly build from commit ${{ github.sha }}."
